


.timecard{
    border : 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;

}

.span-class {
    display: flex;
    /*align-content: space-around;*/
    justify-content: space-around;
}